
<div class="container">
  <div class="row">
    <% data.cities.each do |city, city_info| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>');">
          <div class="card-category">Cities</div>
          <div class="card-description">
            <h2><%= city_info["name"] %></h2>
            <p><%= city_info["description"] %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

